<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hbm2ddl.auto">update</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">9990</property>
  <property name="hibernate.connection.url"><![CDATA[jdbc:mysql://139.129.40.103:3306/stockey?useUnicode=true&characterEncoding=utf8]]></property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="org/xeon/stockey/po/DailyDataPO.hbm.xml"/>
  <mapping resource="org/xeon/stockey/po/StockInfoPO.hbm.xml"/>
     <mapping resource="org/xeon/stockey/po/StrategyPO.hbm.xml"/>
     <mapping resource="org/xeon/stockey/po/UserPO.hbm.xml"/>
     <mapping resource="org/xeon/stockey/po/UserPreferencePO.hbm.xml"/>
     <mapping resource="org/xeon/stockey/po/ConditionPO.hbm.xml"/>
     <mapping resource="org/xeon/stockey/po/ActionPO.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
